
body{
   
    background-color:#808080;
}
div{
    width: 150px;
    height: 150px;
    /* position: relative; left: 15px; */
    background-color: #fea500;
    margin-top: 25px;
    margin-left: 15px;
}
